body {
  font-family: 'Ubuntu Condensed', sans-serif;
  display: flex;
  flex-direction: row;
}

th {
  padding: 10px;
}

tr {
  border: 1px solid black;
}

#board {
  border-spacing: 0px;
}

.square {
  height: 80px;
  width: 80px;
  text-align: center;
}

.square.light {
  background-color: #82e0dd;
}

.square.dark {
  background-color: #4b64c5;
}

.ui-draggable:hover {
  cursor: pointer;
}

.piece {
  font-size: 40px;
  display: inline-block;
}

.piece.white {
  color: white;
}

.piece.black {
  color: black;
}

.can-move-to {
  box-shadow: inset 0 0 40px #f0f712;
}

.square.ui-droppable-hover {
  box-shadow: inset 0 0 80px #fbff04;
}

#game-options {
  display: flex;
  flex-direction: column;
}

.btn {
  height: 80px;
  width: 100px;
  text-align: center;
  color: white;
  background-color: gray;
}

.btn.active {
  background-color: blue;
}

.btn.active:hover {
  cursor: pointer;
}
